* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    background: #EEF0FA;
}


/* HEADER  */

header {
    background: #1F2B82;
    display: flex;
    justify-content: space-between;
    color: white;
}

header a {
    color: white;
    text-decoration: none;
}

header .left_header,
header .right_header {
    display: flex;
    align-items: center;
}

header .left_header {
    justify-content: space-around;
    padding-left: 15px;
    width: 15%;
}

header .left_header img {
    width: 20px;
}

header .left_header span {
    font-weight: bold;
}

header .right_header {
    justify-content: space-evenly;
    width: 37%;
    font-weight: bold;
}

header .right_header span {
    font-size: 0.8rem;
    font-weight: normal;
}

header .contact_header {
    background: white;
    padding: 20px;
    color: rgb(3, 8, 155);
}

.logo_header {
    display: flex;
    align-items: center;
}


/* DIV EXPLAIN  */

main {
    width: 1200px;
    border: 1px solid pink;
    margin: 0px auto;
}

.explain {
    width: 900px;
    margin: 80px auto;
    display: flex;
    justify-content: space-between;
}

.left_explain {
    width: 45%
}

.left_explain i {
    color: #ED8838;
}

.left_explain h2 {
    color: #ED8838;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 3rem;
}

.left_explain h1,
.left_explain h3,
.left_explain p {
    color: #1F2B82;
    margin-bottom: 20px;
}

.bread_crumb {
    margin-bottom: 20px;
}

.bread_crumb a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

.bread_crumb i {
    font-size: 1rem;
    font-weight: normal;
    color: #000;
}

.i_titre {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.i_titre i {
    font-size: 2rem;
}

.i_titre h3 {
    margin: 0;
    margin-left: 15px;
    font-size: 1.4rem;
}

.rigth_form {
    background: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
    width: 45%
}

.enrobage_form {
    margin: 20px;
}

.enrobage_form input {
    border: none;
}