* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  background: #eef0fa;
  position: relative;
}

main {
  margin: 0px auto;
}

.container {
  width: 970px;
  margin: 0 auto;
}

.container_global {
  background: #fff;
  padding-bottom: 150px;
}

/* HEADER  */

header {
  background: #1f2b82;
  display: flex;
  justify-content: space-between;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

header .left_header,
header .right_header {
  display: flex;
  align-items: center;
}

header .left_header {
  justify-content: space-around;
  padding-left: 15px;
  width: 15%;
}

header .left_header img {
  width: 20px;
}

header .left_header span {
  font-weight: bold;
}

header .right_header {
  justify-content: space-evenly;
  width: 37%;
  font-weight: bold;
}

header .right_header span {
  font-size: 0.8rem;
  font-weight: normal;
}

header .contact_header {
  background: white;
  padding: 20px;
  color: rgb(3, 8, 155);
}

.logo_header {
  display: flex;
  align-items: center;
}

/* NAV  */

.nav1 {
  position: absolute;
  top: 250px;
  height: 100%;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 250px;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 25px 10px 25px 10px;
  text-align: center;
}

nav ul li {
  background: rgba(0, 0, 0, 0.04);
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
}
nav ul li:hover {
  background: #ddddee;
}

nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
}

nav ul li a:hover {
  color: #1f2b82;
}

/* MENU RIGHT  */

.menu_right1 {
  position: absolute;
  top: 310px;
  right: 0;
  height: 100%;
}

.menu_right {
  position: -webkit-sticky;
  position: sticky;
  top: 310px;
  right: 0;
  width: 100px;
  text-align: center;
  font-size: 0.8rem;
  color: #fff;
}

.menu_right i {
  font-size: 2rem;
  margin-bottom: 10px;
}

.menu_right div {
  background: #1f2b82;
}

.menu_right div:hover {
  background: #535d9e;
}

.menu_right .rappel {
  padding: 20px 3px 20px 3px;
}
.menu_right .rendezvous {
  padding: 10px;
}

.menu_right .contact {
  padding: 10px;
}

/* DIV EXPLAIN  */

.explain {
  width: 900px;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
}

.left_explain {
  width: 45%;
}

.left_explain i {
  color: #ed8838;
}

.left_explain h2 {
  color: #ed8838;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 2.5rem;
}

.left_explain h1 {
  font-size: 2.5rem;
}

.left_explain h1,
.left_explain h3,
.left_explain p {
  color: #1f2b82;
  margin-bottom: 15px;
}

.left_explain p {
  font-size: 1rem;
}

.bread_crumb {
  margin-bottom: 30px;
}

.bread_crumb a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

.bread_crumb i {
  font-size: 1rem;
  font-weight: normal;
  color: #000;
}

.i_titre {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.i_titre i {
  font-size: 2rem;
}

.i_titre h3 {
  margin: 0;
  margin-left: 15px;
  font-size: 1.1rem;
}

.rigth_form {
  background: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 45%;
}

.enrobage_form {
  margin: 30px;
}

.informations input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: rgb(219, 218, 218);
  padding: 5px;
  margin-bottom: 15px;
}

.informations1 input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: rgb(219, 218, 218);
  padding: 5px;
  margin-bottom: 15px;
  width: 100%;
}

.regroupe {
  display: flex;
  justify-content: space-between;
}

::placeholder {
  color: rgb(219, 218, 218);
}

.enrobage_form select {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgb(219, 218, 218);
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 15px;
  width: 100%;
}

.enrobage_form p {
  color: #9ca1c7;
  margin-bottom: 7px;
  font-size: 1.2rem;
}

.enrobage_form label {
  font-weight: bold;
  font-size: 1rem;
}

.enrobage_form textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgb(219, 218, 218);
  border-radius: 3px;
  padding: 5px 0 0 5px;
}

.enrobage_form .checkbox_p {
  color: #000;
  padding-top: 10px;
}

[type="checkbox"] {
  border-radius: 50px;
  cursor: pointer;
}

.button_formalite {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background: #ed7e25;
  color: white;
  text-align: center;
  margin: 15px 0 0 180px;
}

.button_formalite i {
  font-size: 1rem;
  margin-left: 3px;
}

[type="submit"] {
  border: none;
  background: none;
  color: white;
  font-size: 1.2rem;
}

/* PRATIQUES  */

#pratiques {
  color: #1f2b82;
  text-align: center;
  margin-top: 200px;
}

.card_disposition {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}

.card_pratiques {
  margin-top: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
}

.titre_pratiques {
  width: 200px;
  border: none;
}

.titre_pratiques p {
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

.description_pratiques {
  padding: 15px;
  text-align: left;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pratiques1 {
  display: flex;
  justify-content: space-between;
}

.description_pratiques li {
  list-style-type: none;
}

.pratiques1 ul li span {
  text-align: right;
}

.description_pratiques a {
  font-weight: normal;
  color: #1f2b82;
}

.description_pratiques span {
  font-weight: normal;
  color: #1f2b82;
}

.description_pratiques .span_margin {
  padding-bottom: 15px;
  font-weight: normal;
}

.i_pratiques {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 80px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: #ebebe6;
}

.i_pratiques p {
  padding: 0;
  font-size: 1.8rem;
  margin-left: 5px;
}

.i_pratiques i {
  font-size: 2.5rem;
  color: #ed7e25;
  margin-right: 5px;
}

#pratiques h2 {
  padding-top: 150px;
}

/* FAQ */

#faq {
  margin-top: 150px;
  margin-left: 50px;
  margin-right: 50px;
}

#faq h2 {
  text-align: center;
  color: #1f2b82;
}

#faq_questions {
  margin-top: 30px;
}

.questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.04);
  padding: 10px 0;
}

/* LEGALVISION */

#formalite_legalvision {
  margin-top: 150px;
  display: flex;
  justify-content: center;
}

#left_legal {
  width: 45%;
}

#right_legal {
  margin: 0 20px 0 20px;
  width: 45%;
  text-align: justify;
}

#right_legal h2 {
  color: #1f2b82;
  margin-bottom: 25px;
}

#right_legal h5 {
  color: #1f2b82;
  margin-bottom: 5px;
}

#right_legal p {
  color: #1f2b82;
  margin-bottom: 25px;
}

#right_legal span,
#right_legal i {
  color: #ed7e25;
  margin-bottom: 25px;
}

#right_legal .chiffre {
  color: #1f2b82;
  font-weight: bold;
}

#img_legal {
  display: flex;
  justify-content: space-between;
}

#pasdetemps img {
  width: 100%;
}

#img_legal img {
  margin-bottom: 15px;
  margin-left: 3px;
  margin-right: 3px;
  width: 200px;
  height: 200px;
  border: none;
  border-radius: 10px;
}

/* JURISTE */

.juriste_image {
  padding-top: 100px;
  margin-bottom: 100px;
}

.juriste_image h2 {
  padding-bottom: 40px;
  color: #1f2b82;
  text-align: center;
}

.juriste_container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background: #fff;
  width: 50%;
  margin: 0 auto;
  padding: 20px 0 20px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
}

.juriste_left {
  display: flex;
}

.juriste_left img {
  width: 150px;
  border: none;
  border-radius: 100%;
}

.juriste_right {
  display: flex;
  align-items: center;
}

.juriste_right h3 {
  color: #1f2b82;
  margin-bottom: 10px;
}

.juriste_right p {
  color: #1f2b82;
  margin-bottom: 10px;
}

.juriste_details {
  width: 250px;
}

.juriste_details button {
  background: #ed7e25;
  padding: 6px 15px;
  color: #fff;
  border: none;
  border-radius: 5px;
}

/* TRIBUNAL EN CHIFFRE */

#chiffre_tribunal {
  padding-top: 50px;
}

#chiffre_tribunal h2 {
  text-align: center;
  color: #1f2b82;
}

.les_chiffres {
  width: 200px;
  flex-grow: 1;
}

.les_chiffres h3 {
  margin-bottom: 15px;
  font-size: 4rem;
  color: #ed7e25;
}

.les_chiffres p {
  color: #1f2b82;
}

#global_chiffres {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 60px;
}
