* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  background: #eef0fa;
  position: relative;
}

main {
  width: 970px;
  border: 1px solid pink;
  margin: 0px auto;
}

/* HEADER  */

header {
  background: #1f2b82;
  display: flex;
  justify-content: space-between;
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

header .left_header,
header .right_header {
  display: flex;
  align-items: center;
}

header .left_header {
  justify-content: space-around;
  padding-left: 15px;
  width: 15%;
}

header .left_header img {
  width: 20px;
}

header .left_header span {
  font-weight: bold;
}

header .right_header {
  justify-content: space-evenly;
  width: 37%;
  font-weight: bold;
}

header .right_header span {
  font-size: 0.8rem;
  font-weight: normal;
}

header .contact_header {
  background: white;
  padding: 20px;
  color: rgb(3, 8, 155);
}

.logo_header {
  display: flex;
  align-items: center;
}

/* NAV  */

nav {
  position: absolute;
  top: 250px;
  border: none;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 20px 10px 20px 10px;
}

nav ul li a {
  background: grey;
  margin
}

/* DIV EXPLAIN  */

.explain {
  width: 900px;
  margin: 80px auto;
  display: flex;
  justify-content: space-between;
}

.left_explain {
  width: 45%;
}

.left_explain i {
  color: #ed8838;
}

.left_explain h2 {
  color: #ed8838;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 2.5rem;
}

.left_explain h1 {
  font-size: 2.5rem;
}

.left_explain h1,
.left_explain h3,
.left_explain p {
  color: #1f2b82;
  margin-bottom: 15px;
}

.left_explain p {
  font-size: 1rem;
}

.bread_crumb {
  margin-bottom: 20px;
}

.bread_crumb a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
}

.bread_crumb i {
  font-size: 1rem;
  font-weight: normal;
  color: #000;
}

.i_titre {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.i_titre i {
  font-size: 2rem;
}

.i_titre h3 {
  margin: 0;
  margin-left: 15px;
  font-size: 1.1rem;
}

.rigth_form {
  background: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 45%;
}

.enrobage_form {
  margin: 30px;
}

.informations input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: rgb(219, 218, 218);
  padding: 5px;
  margin-bottom: 15px;
  width: 100%;
}

::placeholder {
  color: rgb(219, 218, 218);
}

.enrobage_form select {
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgb(219, 218, 218);
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 15px;
  width: 100%;
}

.enrobage_form p {
  color: #9ca1c7;
  margin-bottom: 7px;
}

.enrobage_form label {
  font-weight: bold;
  font-size: 1rem;
}

.enrobage_form textarea {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: rgb(219, 218, 218);
  border-radius: 3px;
  padding: 5px 0 0 5px;
}

.enrobage_form .checkbox_p {
  color: #000;
  padding-top: 10px;
}

[type="checkbox"] {
  border-radius: 50px;
  cursor: pointer;
}

.button_formalite {
  border: none;
  border-radius: 5px;
  padding: 5px;
  background: #ed7e25;
  color: white;
  text-align: center;
  margin: 15px 0 0 180px;
}

.button_formalite i {
  font-size: 1rem;
  margin-left: 3px;
}

[type="submit"] {
  border: none;
  background: none;
  color: white;
  font-size: 1.2rem;
}
